<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Weather" tabIcon="cloud"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Settings" tabIcon="construct"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
