<ion-header>
    <ion-navbar>
        <ion-title>
            Settings
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="main">
    <ion-grid>
        <ion-row>
            <ion-col *ngIf="requestError" width-100>
                <div class="alert alert-warning" role="alert">{{ requestError }}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col width-100>
                <ion-list>
                    <ion-item>
                        <ion-label fixed>
                            Default city
                        </ion-label>
                        <ion-input (keyup)="getQuery()" [(ngModel)]="searchStr" type="text" value="">
                        </ion-input>
                    </ion-item>
                    <p class="current">Current: {{ defaultCity }}</p>
                    <button ion-button (click)="saveChanges()" block>Save changes</button>
                </ion-list>
                <ion-list *ngIf="searchResults">
                    <ion-item *ngFor="let result of searchResults">
                        <span (click)="setDefaultCity(result)">{{result.name}}</span>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
