<ion-header>
    <ion-navbar>
        <ion-title>
            Weather
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="main">
    <ion-grid>
        <ion-row>
            <ion-col *ngIf="requestError" width-100>
                <div class="alert alert-warning" role="alert">{{ requestError }}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="weather">
        <ion-row>
            <ion-col width-100>
                <ion-list>
                    <ion-item>
                        <ion-label fixed>
                            City
                        </ion-label>
                        <ion-input (keyup)="getQuery()" [(ngModel)]="searchStr" type="text" value="">
                        </ion-input>
                    </ion-item>
                </ion-list>
                <ion-list *ngIf="searchResults">
                    <ion-item *ngFor="let result of searchResults">
                        <span (click)="chooseCity(result)">{{result.name}}</span>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-50 offset-25>
                <h2>{{ weather.display_location.full }}</h2>
                <div class="icon">
                    <img src="{{weather.icon_url}}">
                </div>
                <h3 class="desc">{{weather.weather}}</h3>
                <h1 class="temp">{{weather.temp_c}}&deg;</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-100>
                <ion-list>
                    <ion-item>
                        <strong>Time: </strong> {{ weather.local_time_rfc822 }}
                    </ion-item>
                    <ion-item>
                        <strong>Last updated: </strong> {{ weather.observation_time_rfc822 }}
                    </ion-item>
                    <ion-item>
                        <strong>Wind: </strong> {{ weather.wind_kph }} km/h
                    </ion-item>
                    <ion-item>
                        <strong>Wind chill: </strong> {{ weather.windchill_c }}
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
